.skill {
  &-icon {
    background-color: #777;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    & > svg {
      padding: 1rem;
    }
  }
  &-desc {
    font-weight: bold;
  }
}