section {
  margin: 3rem auto;
}

.flex-auto {
  flex: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.header-carousel-button {
  background-color: #1c1d1f;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
}

.header-carousel .carousel-inner img {
  height: 400px;
}

.carousel-control-prev {
  left: 1.25rem;
}

.carousel-control-next {
  right: 1.25rem;
}

.header-box {
  position: absolute;
  top: 4rem;
  left: 5rem;
  background-color: #fff;
  padding: 1.25rem;
  max-width: 23.4375rem;
}
.header-box h4 {
  font-size: 1.9375rem;
  font-weight: bold;
}
.header-box p {
  font-size: 0.9375rem;
}
.header-box .box-btn {
  padding: 0.625rem;
}

.tab-pane {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  padding: 1.4rem;
}

.carousel-cards {
  margin-top: 2rem;
}
.carousel-cards .carousel-inner .carousel-item-end.active, .carousel-cards .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}
.carousel-cards .carousel-inner .carousel-item-start.active, .carousel-cards .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
.carousel-cards .carousel-inner .carousel-item.active, .carousel-cards .carousel-inner .carousel-item-next, .carousel-cards .carousel-inner .carousel-item-prev, .carousel-cards .carousel-inner .carousel-item-end {
  display: flex;
}
.carousel-cards .carousel-inner .carousel-item-end, .carousel-cards .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.course-card {
  padding: 0.5rem;
}

.course-image {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.course-image > img {
  width: 100%;
}

.course-info {
  padding: 0.3rem;
}
.course-info .course-title, .course-info .course-teacher, .course-info .course-price {
  display: block;
}
.course-info .course-title {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 0;
}
.course-info .course-teacher {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}
.course-info .course-rating {
  font-size: 0.8rem;
}
.course-info .course-rating-starts {
  color: #e59819;
}
.course-info .course-price {
  font-weight: bold;
  font-size: 1.1rem;
}
.course-info .course-price-discount {
  font-weight: normal;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}
.course-info .course-bestseller {
  display: inline-block;
  background-color: #eceb98;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.skill-icon {
  background-color: #777;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.skill-icon > svg {
  padding: 1rem;
}
.skill-desc {
  font-weight: bold;
}

.categories .title {
  margin-bottom: 1.5rem;
}

.category {
  overflow: hidden;
  text-align: center;
}
.category .category-img img {
  width: 250px;
  transition: transform 150ms ease-in;
}
.category .category-img:hover {
  transform: scale(1.05);
}
.category .category-title {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5rem;
}
@media (max-width: 767px) {
  .category .category-title {
    text-align: center;
  }
}
footer ul li {
  padding: 0.5rem;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer ul li a:hover {
  color: #c6c9c7;
  text-decoration: underline;
}
footer .foot-lang svg {
  margin-right: 0.2rem;
}

.footer-copyright {
  padding: 0.5rem 0;
}
.footer-copyright .footer-logo img {
  width: 100px;
}/*# sourceMappingURL=main.css.map */